/* Header :*/

header{
    background-color: #222;
    height : 200px;
}

header *{
    vertical-align: middle;
    margin : 10px;
    color: white;
    text-decoration: none;
}

/* Barre de Recherche */

nav{
    background-color: deepskyblue;
    height : 75px;
}

form{
    display: inline;
}

/* Main */



/* Page résultat de recherche */

.recherche{
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.recherche img{
    float: left;
}

.reference{
    text-align:right;
}

.informations{
    text-align:right;
}

.prix{
    text-align:right;
    color : red;
    font-size : 40px;
}

/* Footer*/

footer{
    background-color: #222;
    height: 200px;
}

footer a{
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
}