/* Header :*/

header{
    background-color: #222;
    height : 200px;
}

header *{
    vertical-align: middle;
    margin : 10px;
    color: white;
    text-decoration: none;
}

/* Barre de Recherche */

nav{
    background-color: deepskyblue;
    height : 75px;
}

form{
    display: inline;
}

/* Main */

/* -Divers */

.prix{
    text-align:right;
    color : red;
    font-size : 40px;
}

/* Page d'accueil */

.promo1{
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.promo1 img{
    float:left;
    height: 240px;
    margin-right: 30px;
}

.reduction{
    text-align:right;
    color: red;
    font-size: 50px;
}

.prixbarre{
    text-align:left;
    text-decoration: line-through;
    font-size:25px;
}

.prixbarre{
    display: inline;
}

.prix{
    display: inline;
}

/* -Page résultat de recherche */

.recherche{
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.recherche img{
    float: left;
    margin-right: 30px;
}

.reference{
    text-align:right;
}

.informations{
    text-align:right;
}


/* Footer*/

footer{
    background-color: #222;
    height: 200px;
}

footer a{
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
}